<head>
    <title>Task Manager</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--google fonts stuff-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='interactions.js') }}" defer></script>
</head>