<nav>
    <div class="nav-left">
        <img 
            src="{{ url_for('static', filename='images/site_logo.png') }}" 
            alt="Site Logo" 
            class="nav-logo"
        >
        <div class="nav-title">
            <h1>
                <a class="small-title">Furina's</a>
                Task Manager
            </h1>
            <p class="nav-subtitle">A grand performance of productivity</p>
        </div>
    </div>

    <ul class="navlinks">
        <li><a href="/">Tasks</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>